 .btn-grad {
            background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

          .heading
          {
            font-size: 30px;
            width: 100%;
            margin: 0;
            font-family: 'Cherry Bomb One', cursive;  
        }

          .note
          {
            font-size: 23px;
            color: black;
          }

          body{
            background-size: cover;
          }
          

          .div_speed
          {
            float: left;

          }

          .div_speed_img,.div_volume_img
          {
            width: 200px;
            border-radius: 100px;
          }

#speed,#volume
{
    font-size: 23px;
    margin: 15px;

}

.div_volume
{
  float: right;

}

.play_button{
  font-size: 22px;
  width: 130;

}